In [160]:
# Dependencies
import pandas as pd
import numpy as np

In [290]:
names_dict={}
names=['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie', 'Abraham', 'Barney', 'Moe', 'Ned', 'Ralph', 'Nelson']

for name in names:
    #Set name
    entry_name=name
    
    #Get html for name
    url = f'https://www.behindthename.com/name/{entry_name}/top/united-states'

    #Get results
    results=pd.read_html(url)

    #Write name to df:o
    entry_name=results[1]

    #Names with male & female rankings have 7 columns
    if len(list(entry_name.columns))==7:
        #Drop extra columns
        entry_name=entry_name.drop(columns=[3,4,5,6])
    
    #Names with only male or only female rankings have 4 columns    
    elif len(list(entry_name.columns))==4:
        #Drop extra columns
        entry_name=entry_name.drop(columns=[3])

    #Drop first 2 rows
    entry_name=entry_name.drop([0,1])

    #Rename columns
    entry_name=entry_name.rename(columns = {0:'Year', 1:'Rank', 2: 'Percent Used'})

    #Replace empty string and - with nan
    entry_name['Rank'].replace('', np.nan, inplace=True)
    entry_name['Rank'].replace('-', np.nan, inplace=True)
    entry_name['Percent Used'].replace('-', np.nan, inplace=True)

    #Drop nan
    entry_name=entry_name.dropna()

    #Remove hash from rank
    entry_name['Rank']=entry_name['Rank'].str[1:]

    #Write year and rank to integer
    entry_name['Year'] = entry_name['Year'].astype(int)
    entry_name['Rank'] = entry_name['Rank'].astype(int)

    #Filter for years greater than 1990
    entry_name=entry_name[entry_name['Year']>=1990]
    
    #Write dataframe to dictionary
    names_dict[name]=entry_name
    
    print(name)

Homer
Marge
Bart
Lisa
Maggie
Abraham
Barney
Moe
Ned
Ralph
Nelson

In [294]:
names_dict['Lisa']

    Year  Rank Percent Used
2   2019   955        0.015
3   2018   877        0.017
4   2017   885        0.016
5   2016   834        0.018
6   2015   754        0.019
7   2014   739        0.019
8   2013   768        0.018
9   2012   708        0.020
10  2011   702        0.020
11  2010   712        0.020
12  2009   693        0.021
13  2008   603        0.024
14  2007   570        0.025
15  2006   500        0.029
16  2005   493        0.031
17  2004   427        0.035
18  2003   372        0.040
19  2002   359        0.042
20  2001   336        0.046
21  2000   295        0.054
22  1999   282        0.057
23  1998   230        0.070
24  1997   194        0.081
25  1996   168        0.097
26  1995   144        0.116
27  1994   123        0.132
28  1993   100        0.164
29  1992    88        0.189
30  1991    83        0.216
31  1990    64        0.260